body{
    font-family:Arial, sans-serif;
    background-color: black;
}
button{
   display: flex;
   justify-content: center;
    border-radius: 30px;
    font-size: bold;
    font-weight: 800;
    font-size: 50px;
    text-align: center;
height: 100px;
display: grid;
width: 600px;
margin-top: 40px;
padding: auto;


}
button:hover{
    background-color: gray;
    color: white;

}

p{
    color: aliceblue;
    font-weight: 800;
    font-size: 100px;

}
span{
    color: rgb(108, 237, 254);
}